* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}



    

body{
    background-color: #000;
    background-image: url(/img/giphydiablo2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    
}
.registro{
    width: 500px;
 
    margin: 100px;
    margin-top: 520px;
    margin-left: 633px;
    border-radius: 20px;
    font-size: "calibri";
    color: rgb(119, 28, 28);
    box-shadow: 7px 13px 37px #000;
}

.control{
    
    background: #b0adad;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "calibri";
    color: rgb(176, 23, 15);
    
}
.registro .boton{
    background: #727272;
    width: 100%;
    padding: 12px;
    border: none;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: transparent;
}